.sec_banner {
    position: relative;
    overflow: hidden;
    @media( min-width: $breakpoint-desktop ) {
        max-height: 100vh;
    }
    .container {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
            @media( min-width: $breakpoint-desktop ) {
                max-height: 100vh;
            }
        }
    }
}