.sec_banner-small {
    position: relative;
    overflow: hidden;
    padding-top: 72px;
    @media( min-width: $breakpoint-desktop ) {
        max-height: 60vh;
        padding-top: 0;
    }
    .container {
        .banner-image {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
            max-height: 60vh;
        }
    }
}