@mixin search-form {
    box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.08), 0px 4px 6px -2px rgba(16, 24, 40, 0.03);
    padding: 32px;
    border-radius: 24px;
    background-color: #fff;
    .heading {
        font-size: 32px;
        text-align: center;
        color: $global-primary-color;
        margin-bottom: 8px;
    }
    .search-form {
        display: flex;
        flex-direction: column;
        gap: 8px;
        max-width: 900px;
        margin: 0 auto;
        width: 100%;
        grid-column: full;
    }
    .row {
        display: flex;
        gap: 8px;
        flex-direction: column;
        width: 100%;
        @media( min-width: $breakpoint-desktop ) {
            display: grid;
            grid-template-columns: 2fr 2fr 2fr 1fr;
            align-items: flex-end;
        }
        .item-search {
            align-self: end;
            display: flex;
            flex-direction: column;
            gap: 8px;
            width: 100%;
            input,
            select {
                padding: 8px 16px;
                width: 100%;
                border-radius: 24px;
                font-size: 16px;
                font-weight: 300;
                border: 1px solid $global-text-color-gray;
                color: #000;
                &:focus,
                &:active {
                    outline-color: #000000;
                }
            }
            label {
                font-size: 16px;
                font-weight: 500;                    
                color: $global-primary-color;
            }
            select {
                appearance: none;
                background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 6L8 10L12 6' stroke='%23989898' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
                background-repeat: no-repeat;
                background-position: right 16px center;
            }
        }
        .search-submit {
            height: fit-content;
            background-color: $global-primary-color;
            color: #fff;
            border-radius: 24px;
            padding: 12px 8px;
            border: 0;
            font-weight: 300;
            font-size: 14px;
            // grid-area: search-submit;
            &:hover {
                cursor: pointer;
            }
        }
        .btn-reset {
            all: unset;
            font-size: 14px;
            color: $global-primary-color;
            cursor: pointer;
            font-weight: 300;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            // grid-area: reset-btn;
        }
    }
}

.block-search {
    // background-color: #fff;
    display: none;
    .search-container {
        @include search-form;
    }
    @media ( min-width: $breakpoint-desktop ) {
        display: block;
    }
    .box-search-name,
    .box-search-place {
        position: relative;
    }
}

.autocomplete-results {
    position: absolute;
    // width: calc(100% - 20px);
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 5px;
    list-style: none;
    padding: 0;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
    top: 70px;
    width: 100%;
    li {
        padding: 10px;
        cursor: pointer;

        &:hover {
            background: #f0f0f0;
        }
    }

    .no-results {
        color: #999;
        padding: 10px;
    }
}