.search-container {
    @include search-form;
    &.mobile {
        display: none;
        &.active {
            display: block;
            position: fixed;
            top: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            height: 100%;
            width: 100%;
            background-color: rgba(0,0,0,0.5);
            border-radius: 0;
            z-index: 99999;
            .container {
                padding: 24px;
            }
        }
    }
    .close-search-mobile {
        all: unset;
        position: absolute;
        right: 20px;
        top: 16px;
    }
   
    .container {
        background-color: #fff;
        box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.08), 0px 4px 6px -2px rgba(16, 24, 40, 0.03);
        padding: 32px;
        border-radius: 24px;
        position: relative;
        .search-submit {
            margin-top: 16px;
        }
    }
    .box-search-name-mobile,
    .box-search-place-mobile {
        position: relative;
    }
}

.button-search-mobile {
    all: unset;
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    background-color: $global-primary-color;
    color: #fff;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 100%;
    @media( min-width: $breakpoint-desktop ) {
        display: none;
    }
}