.block-event {
    @include gap-section;
    .heading {
        text-align: center;
        padding-bottom: 24px;
     }
     .button-icon {
         padding-top: 24px;
         text-align: center;
         margin-bottom: 32px;
     }
    .event-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 24px;
        @media( min-width: $breakpoint-desktop ) {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
}