.card-job {
    border-radius: 16px;
    overflow: hidden;
    background-color: #fff;
    padding: 16px;
    gap: 16px;
    position: relative;
    box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.08), 0px 4px 6px -2px rgba(16, 24, 40, 0.03);
    .link {
        display: grid;
        grid-template-areas: "image time"
                             "title title"
                             "content content";
       gap: 16px 8px;
        // &:has( .posted-time ) {
            // grid-template-columns: auto 1fr auto;
            // .image {
            //     margin: 16px 0 0 16px;
            // }
            @media ( min-width: $breakpoint-desktop ) {
                gap: 8px 16px;
                grid-template-columns: auto 1fr auto;
                grid-template-areas: "image title time"
                                     "image content content"
            }
        // }
    }
    .image {
        max-width: 56px;
        height: 56px;
        grid-area: image;
        display: flex;
        align-items: center;
        justify-content: center;
        .image-company {
            width: auto;
            height: auto;
            max-width: 100%;
            max-height: 100%;
        }
        @media ( min-width: $breakpoint-desktop ) {
            margin-right: 8px;
        }
        @media ( min-width: $breakpoint-desktop ) {
            &:has( .default ) {
                max-width: 40px;
            }
        }
    }
    .title {
        grid-area: "title";
        color: #000;
        display: block;
        font-size: 16px;
        font-weight: 400;
    }
    .content {
        display: flex;
        flex-direction: column;
        gap: 8px;
        background-color: #fff;
        height: 100%;
        grid-area: content;
        .salary,
        .near-location {
            display: flex;
            gap: 8px;
            align-items: center;
        }
        .company {
            font-weight: 500;
            color: #000;
        }
        .tag {
            @include tag;
        }
    }
    @include hover-card;
    .posted-time {
        color: $global-text-color-gray;
        font-size: 14px;
        margin-left: auto;
        font-weight: 300;
        grid-area: time;
    }
    
}
