.card-event {
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    overflow: hidden;
    position: relative;
    background-color: #fff;
    box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.08), 0px 4px 6px -2px rgba(16, 24, 40, 0.03);
    .tag {
        background-color: $global-secondary-color;
        position: absolute;
        top: 0;
        left: 0;
        padding: 8px;
        border-radius: 16px 0 16px 0;
    }
    .link {
        .image-event {
            width: 100%;
            height: 100%;
            object-fit: cover;
            max-height: 230px;
        }
    }
    .content {
        display: flex;
        flex-direction: column;
        gap: 8px;
        background-color: #fff;
        padding: 16px;
        height: 100%;
        @media ( min-width: $breakpoint-desktop ) {
            padding: 24px;
        }
        .title {
            margin: 0;
            padding-bottom: 8px;
            .link {
                font-size: 14px;
                color: #000;
                display: block;
            }
        }
        .date-time {
            display: flex;
            flex-wrap: wrap;
            gap: 8px 16px;
        }
        .date,
        .time,
        .location {
            font-size: 14px;
            display: flex;
            gap: 8px;
        }
        .excerpt {
            color: $global-text-color-gray;
            font-size: 14px;
            font-weight: 300;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .button-primary {
            width: fit-content;
            margin-top: auto;
        }
    }
    @include hover-card;
    
}
