@use 'variables' as var;

:root {
    --tab-bg: #{var.$global-primary-color};
}

.template-home {
    padding-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    .sec_banner {
        .banner-container {
            position: relative;
            display: flex;
            justify-content: center;
            flex-direction: column;
            height: 100%;
            border-radius: 20px;
            overflow: hidden;
            padding: 24px;
            min-height: 100svh;
            .banner-image {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
            }
            .content {
                display: flex;
                flex-direction: column;
                gap: 16px;
                color: #fff;
                @media( min-width: var.$breakpoint-desktop ) {
                    max-width: 646px;
                }
            }
            .button-banner {
                margin-top: 32px;
            }
        }
    }

    .sec_tab {
        .tab-container {
            padding: 24px;
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            gap: 24px;
            background-color: #fff;
            .content-head {
                padding-block: 64px;
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 24px;
                @media( min-width: var.$breakpoint-desktop ) {
                    padding-block: 128px;
                }
                .heading {
                    font-size: var.$font-size--heading;
                }
                .sub-title {
                    font-size: 14px;
                    font-family: 'Inter', sans-serif;
                    letter-spacing: 1px;
                    color: #4b4b4b;
                    text-transform: uppercase;
                }
            }
            .splide__list li:last-child {
                width: 100% !important;
            }
            .card-tab {
                border-radius: 20px;
                background-color: var(--tab-bg);
                min-height: 60vh;
                padding: 24px;
                display: grid;
                gap: 48px;
                grid-template-columns: 1fr 1fr;
                @media( min-width: var.$breakpoint-desktop ) {
                    grid-template-columns: 3fr 7fr;;
                }
                .image-card-tab {
                    width: 100%;
                    height: 100%;
                    aspect-ratio: 1;
                    object-fit: cover;
                    border-radius: 12px;
                }
                .content {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    gap: 24px;
                    .title {
                        font-family: 'Montserrat', sans-serif;
                        font-size: var.$font-size--heading;
                    }
                    .description {
                        font-size: 18px;
                        font-family: 'Inter', sans-serif;
                        color: #4b4b4b
                    }
                }
            }
            .custom-pagination {
                display: flex;
                gap: 24px;
                .custom-page-btn {
                    all: unset;
                    cursor: pointer;
                    font-family: 'Inter', sans-serif;
                    font-size: 14px;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                    background-color: #F7F5F1;
                    padding: 20px;
                    width: 100%;
                    text-align: center;
                    border-radius: 12px;
                    &.is-active {
                        background-color: var(--tab-bg);
                    }
                }
            }
        }
    }

    .sec_contact {
        position: relative;
        z-index: 1;
        .contact-container {
            display: flex;
            justify-content: center;
            flex-direction: column;
            height: 100%;
            border-radius: 20px;
            overflow: hidden;
            padding: 24px;
            min-height: 100svh;
            position: relative;
            .background {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
            }
            .contact-head {
                display: flex;
                flex-direction: column;
                gap: 64px;
                margin-bottom: 52px;
                @media( min-width: var.$breakpoint-desktop ) {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                }
                .heading {
                    font-weight: 300;
                }
                .group-description {
                    display: flex;
                    flex-direction: column;
                    gap: 24px;
                    .button-contact {
                        display: block;
                    }
                }
            }
            .contact-form {
                background-color: #fff;
                padding: 47px 24px;
                border-radius: 20px;
                .contact-title {
                    font-size: 14px;
                    color: var.$global-text-color-gray;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    margin-bottom: 24px;
                    text-align: center;
                }
                .contact-description {
                    font-size: 14px;
                    text-align: center;
                    max-width: 530px;
                    margin: 0 auto 24px;
                }
                .contact-form-container {
                    max-width: 1200px;
                    margin: 0 auto;
                    .frm_submit {
                        text-align: center;
                    }
                }
            }
        }
    }
}

