.archive-job {
    .block-search {
        margin-top: -100px;
        z-index: 1;
        position: relative;
        max-width: 1000px;
        margin-inline: auto;
    }
    .group-background {
        position: relative;
        .background-home {
            position: absolute;
            // width: 40%;
            height: 20%;
            left: 0;
            bottom: 0;
            z-index: -1;
            object-fit: cover;
            @media ( min-width: $breakpoint-desktop ) {
                height: 70%;
                bottom: auto;
            }
        }
    }
}