.site-footer {
    position: relative;
    border-top: 1px solid $global-text-color-gray;
    padding-bottom: 64px;
    @media( min-width: $breakpoint-desktop ) {
        padding-bottom: 0;
    }
    .sidebar {
        text-align: center;
        * {
            margin-top: 0;
        }
        @media( min-width: $breakpoint-desktop ) {
            text-align: left;
        }
    }
    .footer-container {
        padding-block: 32px;
        display: flex;
        flex-direction: column;
        gap: 16px;
        @media( min-width: $breakpoint-desktop ) {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            align-items: center;
            gap: 32px;
        }
    }
    .block-footer-copyright {
        background-color: $global-primary-color;
        text-align: center;
        padding: 16px;
        * {
            color: #fff;
            margin: 0;
        }
    }
    .menu {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 8px;
        .menu-item {
            a {
                font-weight: 300;
            }
        }
    }
}
