.sec_blog-event {
    padding-top: 64px;
    .tab-container {
        .tab-buttons {
            display: flex;
            justify-content: center;
            margin-bottom: 20px;
            background-color: #EFEFEF;
            max-width: 660px;
            margin: 0 auto;
            border-radius: 32px;
            overflow: hidden;
            .tab-btn {
                padding: 16px 32px;
                width: 100%;
                border: none;
                cursor: pointer;
                transition: 0.3s;
                background: transparent; // default background
                font-size: $font-size--medium;
                color: $global-primary-color;
                &.active,
                &:hover {
                    background: $global-primary-color;
                    color: white;
                }
            }
        }
        .tab-content {
            .tab-panel {
                padding-block: 64px;
                @media ( min-width: $breakpoint-desktop ) {
                    padding-block: 128px 64px;
                }
                display: none;
                &.active {
                    display: block;
                }
            }
            .heading {
                text-align: center;
                margin-bottom: 24px;
            }
            .posts {
                display: grid;
                grid-template-columns: 1fr;
                gap: 24px;
                @media( min-width: $breakpoint-desktop ) {
                    grid-template-columns: 1fr 1fr 1fr;
                }
                .post {
                    background: #f4f4f4;
                    padding: 15px;
                    border-radius: 5px;
                    flex: 1 1 calc(33.333% - 10px);
                    text-align: center;
                }
            }
        }
    }
}