.job-company {
    padding-top: 64px;
    .heading {
        text-align: center;
    }
    .box-sort {
        display: flex;
        flex-wrap: wrap;;
        gap: 16px;
        color: $global-text-color-gray;
        .sort {
            @media ( min-width: $breakpoint-tablet ) {
                margin-left: auto;
            }
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 8px;
            .icon-sort {
                width: 24px;
                height: auto;
                display: block;
            }
            .btn-sort {
                all: unset;
            }
        }
        label {
            display: flex;
            align-items: center;
            gap: 8px;
        }
    }
    .result-container {
        padding-top: 24px;
        display: flex;
        flex-direction: column;
        gap: 24px;
        margin-bottom: 64px;
    }
    .pagination {
        margin-bottom: 64px;
    }
}