.job-detail {
    padding-block: 64px;
    .box-job-detail {
        background-color: #EFEFEF;
        padding: 24px;
        border-radius: 24px;
        .group-heading {
            display: flex;
            flex-direction: column;
            gap: 8px 24px;
            // align-items: center;
            @media( min-width: $breakpoint-desktop ) {
                flex-direction: row;
                align-items: center;
            }
            .tags {
                display: flex;
                gap: 8px;;
                .tag {
                    @include tag;
                    &.popular {
                        @include tag-popular;
                    }
                } 
            }
            .share-time {
                display: flex;
                align-items: center;
                gap: 8;
                font-weight: 300;
                @media( min-width: $breakpoint-desktop ) {
                    margin-left: auto;
                }
                .share-btn {
                    all: unset;
                    &::after {
                        content: '|';
                        color: $global-text-color-gray;
                        padding-inline: 8px;
                    }
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
        .detail-list {
            margin-top: 24px;
            display: flex;
            gap: 8px;
            max-width: 259px;
            flex-wrap: wrap;
            font-weight: 300;
            .item {
                display: flex;
                align-items: center;
                gap: 4px;
            }
        }
        .apply-btn {
            display: block;
            width: fit-content;
            margin-top: 24px;
        }
    }
    .content {
        margin-top: 24px;
    }
}

.job-apply-form {
    background-color: #FAF6FD;
    padding-block: 64px;
    border-radius: 24px;
    .heading {
        text-align: center;
        margin-bottom: 24px
    }
    .form {
        max-width: 850px;
        margin: 0 auto;
        width: 100%;
        @include form-custom;
    }
}

.other-job {
    padding-block: 64px;
    .heading {
        text-align: center;
        margin-bottom: 24px;
    }
    .group-job-other {
        display: grid;
        gap: 24px;
        grid-template-columns: 1fr;;
        @media( min-width: $breakpoint-desktop ) {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
    .button-icon {
        text-align: center;
        margin-top: 24px;
    }
}
