@mixin gap-section {
    padding-block: 64px;
}
.about_sec-service {
    @include gap-section;
    background: linear-gradient(180deg, rgba(65, 26, 86, 0.20) 62.92%, rgba(65, 26, 86, 0.00) 100%), linear-gradient(180deg, rgba(65, 26, 86, 0.20) -14.89%, rgba(65, 26, 86, 0.00) 100%), linear-gradient(180deg, #411A56 -14.89%, rgba(243, 241, 252, 0.50) 100%), linear-gradient(180deg, #411A56 -14.89%, rgba(243, 241, 252, 0.50) 100%), linear-gradient(180deg, rgba(65, 26, 86, 0.20) 62.92%, rgba(65, 26, 86, 0.00) 100%), linear-gradient(180deg, rgba(65, 26, 86, 0.20) -14.89%, rgba(65, 26, 86, 0.00) 100%), linear-gradient(180deg, #411A56 -14.89%, rgba(243, 241, 252, 0.50) 100%), linear-gradient(180deg, #411A56 -14.89%, rgba(243, 241, 252, 0.50) 100%);
    .heading {
        color: #fff;
        text-align: center;
    }
    .group-services {
        margin-top: 24px;
        display: grid;
        grid-template-columns: 1fr;
        gap: 24px;
        @media( min-width: $breakpoint-desktop ) {
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
        .card {
            display: flex;
            flex-direction: column;
            gap: 16px;
            align-items: center;
            background-color: #fff;
            border-radius: 16px;
            padding: 24px;
            color: $global-primary-color;
            .icon-image {
                width: 64px;
                height: 64px;;
            }
            .title {
                font-size: 16px;
                font-weight: 500;
            }
            .description {
                font-size: 16px;
                font-weight: 400;;
            }
        }
    }
}

.about_sec-form {
    @include gap-section;
    .heading {
        text-align: center;
    }
    .form {
        max-width: 850px;
        margin: 0 auto;
        width: 100%;
        @include form-custom;
    }
}

.about_sec-contact {
    background-color: #efefefef;
    @include gap-section;
    .heading {
        text-align: center;
    }
    .group-contact {
        margin-top: 24px;
        display: grid;
        grid-template-columns: 1fr;
        gap: 24px;
        @media( min-width: $breakpoint-desktop ) {
            grid-template-columns: 1fr 1fr 1fr;
        }
        .contact-item {
            padding: 24px;
            border-radius: 16px;
            box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.08), 0px 4px 6px -2px rgba(16, 24, 40, 0.03);
            background-color: #fff;
            .link {
                display: flex;
                flex-direction: column;
                gap: 16px;
                align-items: center;
                justify-content: center;
                .icon-image {
                    width: 40px;
                    height: 40px;
                }
                .name {
                    text-transform: capitalize;
                }
            }
            &:hover {
                @include hover-card;
            }
        }
    }
}