.find-job__content {
    .heading {
        text-align: center;
        padding-top: 62px;
        padding-bottom: 24px;
    }
    .content {
        padding-bottom: 64px;
    }
}

.find-job__form {
    background-color: #FAF6FD;
    @include gap-section;
    .heading {
        text-align: center;
        padding-bottom: 24px;
    }
    .form {
        max-width: 850px;
        margin: 0 auto;
        width: 100%;
        @include form-custom;
        p {
            margin: 0;
            padding: 0;
            color: #000;;
        }
    }
}